body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    font-weight: 300;
}

#myHighcharts {
    margin-top: 20px;
}

@media print {
    #fileUpload, #fileSelect, #exportSVG, #exportPNG {
        display: none;
    }
    #myHighcharts {
        margin-top: 0;
    }
}